<div id="content">
    <!-- <div id="ascensorFloor4" class="myAscensorFloor"> -->
      <div class="autor">
        <div class="all-ellements row">
        <div class = "all-one col-sm-12 col-md-6 col-lg-6">
          <!-- <div class="clearfix visible-sm-block"></div> -->
          <div class = "box-author">
              <%= image_tag("Author.jpg", class: 'photo', alt: "image_autor")%>
          </div>
            <h1 class = "a-name"><span class="paragraph-title"><%= t ("author.author-name") %></span></h1>
            <h2 class="title-two"><%= t ("author.title") %></h2>
            <p class="text-large"><%= t ("author.author-text") %></p>
        </div>

        <div class = "all-one col-sm-12 col-md-6 col-lg-6">
          <!-- <div class="clearfix visible-sm-block"></div> -->
          <div class = "box-illustrator">
            <%= image_tag("Illustrator.jpg", class: 'photo', alt: "image_illustrator")%>
          </div>
            <h1 class = "a-name"><span class="paragraph-title"><%= t("author.illustrator-name") %></span></h1>
            <h2 class="title-two"><%= t ("author.title-ill") %></h2>
            <p class="text-large"><%= t("author.illustrator-text") %></p>
        </div>
      </div>
    </div>
</div>
