<script src="http://cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

<div class="container">
  <!-- <div id="ascensorFloor2" class="myAscensorFloor"> -->
    <div class="book-background">
      <!-- <div class="container"> -->
        <div class="row">
          <div class='col-sm-12 col-md-4 col-lg-4'>
            <div class="component">
              <ul class="align">
                <li>
                  <figure class='book'>
                    <!-- Front -->
                    <ul class='hardcover_front'>
                      <li>
                        <%= render 'cover'%>
                      </li>
                      <li></li>
                    </ul>
                     <!-- Pages -->
                    <ul class='page'>
                      <li></li>
                      <li>
                        <%= link_to t("book.see-button"), home_book_path, class: "btn" %>
                        <!-- <%= link_to t("book.order-button"), "http://www.bialobratstvo.info/%D0%BA%D0%BD%D0%B8%D0%B3%D0%B8/%D0%BD%D0%BE%D0%B2%D0%B8/%D1%86%D0%B2%D0%B5%D1%82%D0%BD%D0%B8-%D0%B8%D1%81%D1%82%D0%BE%D1%80%D0%B8%D0%B8", class: "btn btn-2" %> -->
                      </li>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                     <!-- Back -->
                    <ul class='hardcover_back'>
                      <li></li>
                      <li></li>
                    </ul>
                    <ul class='book_spine'>
                      <li></li>
                      <li></li>
                    </ul>
                  </figure>
                </li>
              </ul>
            </div>
            <div class="order-btn">
              <%= link_to t("book.order-button"), "http://www.bialobratstvo.info/%D0%BA%D0%BD%D0%B8%D0%B3%D0%B8/%D0%BD%D0%BE%D0%B2%D0%B8/%D1%86%D0%B2%D0%B5%D1%82%D0%BD%D0%B8-%D0%B8%D1%81%D1%82%D0%BE%D1%80%D0%B8%D0%B8", class: "btn-2" %>
            </div>
          </div>

        <div class='col-sm-12 col-md-8 col-lg-8'>
          <figcaption>
            <h1><%= t("book.title") %></h1>
            <span><%= t("book.sub-title") %></span>
            <p><%= t("book.body") %></p>
            <p><q><%= t("book.quote") %></q></p>
          </figcaption>
        </div>
        </div>
      <!-- </div> -->
    </div>
  <!-- </div> -->

</div>
