<h1 class = "contact-title">Контакти</h1>

<div>
  <%= form_for @contact do |f| %>
  <%= f.label :Име, class:"text-label" %><br>
  <%= f.text_field :name, requested: true, class:"input-label" %>

  <br>

  <%= f.label :Имейл, class:"text-label" %><br>
  <%= f.text_field :email, requested: true, class:"input-label" %>

  <br>

  <%= f.label :Относно, class:"text-label" %><br>
  <%= f.text_field :about, requested: true, class:"input-label" %>

  <br>

  <%= f.label :Съобщение, class:"text-label" %><br>
  <%= f.text_area :message, as: :text, class:"input-message" %>

  <br>

  <div class='hidden'>
    <%= f.label :nickname %><br>
    <%= f.text_field :nickname, hint: 'остави това поле празно' %>
  </div>

  <br>
  <%= f.submit 'изпрати' %>
  <% end %>

</div>
