
<div>
  <%= form_for @contact do |f| %>
  <!-- <%= f.label class:"text-label" %> -->
  <br>
  <%= f.text_field :name, requested: true, class:"input-label", placeholder: t("helpers.name") %>

  <br>

  <!-- <%= f.label t ("contact.email"), class:"text-label" %> -->
  <br>
  <%= f.text_field :email, requested: true, class:"input-label", placeholder: t("helpers.email") %>

  <br>

  <!-- <%= f.label t ("contact.about"), class:"text-label" %> -->
  <br>
  <%= f.text_field :about, requested: true, class:"input-label",  placeholder: t("helpers.subject") %>

  <br>

  <!-- <%= f.label t ("contact.message"), class:"text-label" %> -->
  <br>
  <%= f.text_area :message, as: :text, class:"input-message",  placeholder: t("helpers.message") %>

  <br>

  <div class='hidden'>
    <%= f.label :nickname %><br>
    <%= f.text_field :nickname, hint: 'остави това поле празно' %>
  </div>

  <%= f.submit t ("contact.send") %>
  <% end %>

</div>
