<h1><%= t 'hello' %></h1>
<header class="div-header">
  <div class="container-fluid">
    <div class="inside-header">
      <div class="row">
        <div class="inside-header-left">
          <%= image_tag("logo.png", id: "logo", alt: "logo") %>
        </div>
        <div class="inside-header-right">
          <ul class="fb-en-ul fb-resp clearfix">
            <li class="fb-en"><%= link_to "f", "https://www.facebook.com/pchelandia/", class: "f-button" %></li>
            <li class="fb-en"><%= link_to "en", "#", class: "en-button" %></li>
          </ul>

          <i id="nav_bar_toggle" class="fa fa-bars fa-2x visible-sm visible-xs pull-right menu-hamburger navbar-toggle" aria-hidden="true"></i>

          <div class="all-menu-buttons clearfix">
            <nav class="navigation">
              <div id="main_nav_bar" class="nav-bar hidden-xs hidden-sm">
                <ul class="links-to-floor clearfix">
                  <li class="menu-tag nav-toggle-li"><%= link_to "Начало", home_index_path, id: "current_link", class: "menu-text" %></li>
                  <li class="menu-tag nav-toggle-li"><%= link_to "Книгата", home_thebook_path,  id: "current_link", class: "menu-text" %></li>
                  <li class="menu-tag nav-toggle-li"><%= link_to "Идея", home_idea_path,  id: "current_link", class: "menu-text" %></li>
                  <li class="menu-tag nav-toggle-li"><%= link_to "Автор", home_autor_path,  id: "current_link", class: "menu-text" %></li>
                  <li class="menu-tag nav-toggle-li"><%= link_to "Контакт", home_contacts_path,  id: "current_link", class: "menu-text" %></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
