<!DOCTYPE html>
<html>
<head>
  <title>Pchelandia</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script scr="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  <%= favicon_link_tag "Roq.png"%>
</head>
<body>
  <%= yield(:header) %>
  <%= yield %>
  <div class="footer">
    <p class="copyright">© 2016 Цветни Истории. Всички права запазени. Създадено от Gloria Angelova</p>
  </div>
</body>
</html>
