<!DOCTYPE html>
<html>
<head>
  <title>Pchelandia | детска книга</title>
  <meta name="keywords" content="Глория Ангелова, слънчева педагогика, пчеландия, цветни истории, чета, издателство бяло братство, езотерика, детски книжки за четене, книги за деца, нови детски книги, българска детска литература, детски книги от български автори">
  <meta name="description" content="Мечтата на малка пчелна принцеса да види пролетта я отвежда на вълшебно място. Тя попада в приказна гора, в която музиката лекува, а песента повдига духа. По пътя си среща приятел, на когото винаги може да разчита. Разбира, че търтеите не са само мързеливи и досадни, но могат да бъдат верни приятели и да те забавляват дори когато ти е най-тъжно.">
  <script src="jquery.ascensor.min.js" type="text/javascript"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script scr="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  <%= favicon_link_tag "favi.png"%>
</head>
<body>
  <%= yield(:header) %>
  <%= yield %>
  <footer>
    <div class="container"><%= t ('footer.copyright') %><a class = "copyright-link" href="http://gloryangelova.com/" target="_blank">Gloria Angelova</a></div>
  </footer>
</body>
</html>
